cairosvg
markdown-exec
markdown-include
mkdocs
mkdocs-autorefs
mkdocs-git-authors-plugin
mkdocs-git-revision-date-localized-plugin
mkdocs-material
mkdocs-material-extensions
mkdocstrings
mkdocstrings-python
pillow
pygments-ansi-color
pymdown-extensions
slugify
